/* Базовые правила */
/* 1. Цвет */
/*
    color: red;                  # явное название цвета
    color: rgb(123, 75, 9)       # rgb(Red, Green, Blue), от 0 до 255
    color: rgba(54, 37, 209, .7) # rgba(Red, Green, Blue, Alfa), Alfa - прозрачность (от 0 до 1)
    color: #ffb3a8               # #RRGGBB - шестнадцатеричная запись цвета
    color: #b3a                  # сокращенная запись #bb33aa

    color: hsl(12, 57, 10)       # hsl(hue, saturation, lightness) - фаза, контраст, яркость
*/

/* 2. Правила фона */
/*
    background-color: pink;         # явное указание цвета заднего фона
    background: linear-gradient();  # задний фон в виде градиента (лучше использовать генератор)
    background-image: url('путь');  # задний фон в виде картинки
    background-size: cover;         # размер картинки
    background-repeat: no-repeat;   # повторения картинки
    background-position: center;    # позиция картинки
*/

/* 3. Свойства шрифтов */
/*
    1. font-family: Arial, sans-serif; - шрифт, через запятую запасные варианты
    2. font-size: 20px; - размер шрифта
    3. font-weight: bold; - жирность шрифта
    4. font-style: italic; - стиль шрифта (нужен чтоб установить курсив)
    5. text-align: center; - выравнивание текста (right / center / left / justify)
    6. text-decoration: underline; - украшение текста (подчеркнуть / зачеркнуть и тд)
    7. line-height: 1.5; - межстрочный интервал
    8. letter-spacing: 3px; - расстояние между буквами
*/

/* 4. Единицы измерения */
/*
    1. Абсолютные
        px - пиксели

    2. Относительные
        % - относительно родительского элемента
        em - относительно текущего элемента (для текста)
        rem - относительно корневого элемента (html), (для текста)
        vh - (viewport height) относительно высоты окна браузера (100vh - на всю высоту экрана)
        vw - (viewport width) относительно ширины окна браузера (100vw - на всю ширину экрана)
*/
