@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border-box считает высоту и ширину блока по границе его рамки (border) */
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
}

.header {
    height: 10%;
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;  /* отступ между flex элементами */
    padding-bottom: 80px;
}

.photo-card {
    height: 50%;
    width: 80%;
    background-color: #fff;
    /* box-shadow - тень блока (смещение Х, смещение Y, рассеивание, цвет) */
    box-shadow: 0 2px 5px #a8a8a8;
    border-radius: 25px; /* скругление углов */
    padding: 25px;
}

.photo-card > h2 {
    padding-bottom: 10px;
}

.wrapper {
    position: relative;
}

.photo-text {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e74c3c;
    border-radius: 20px;
    padding: 3px 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper > img {
    height: 50%;
    width: 50%;
    border-radius: 25px;
    padding-bottom: 10px;
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 70px;
    width: 70px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    cursor: pointer;  /* курсор пальчик указатель */
    user-select: none;  /* невозможность выделить что либо */
}

/* :hover - псевдокласс, срабатывает при наведении курсора на элемент */
.scroll-top:hover {
    background-color: #287ca9;
}