body {
    font-family: Arial, sans-serif;
}

#main-title {
    color: darkblue;
    font-size: 32px;
}

p {
    color: gray;
    font-size: 16px;
}

.important {
    color: red;
    font-weight: bold;
}

.info {
    color: green;
    font-style: italic;
}

h2, h3 {
    color: darkgreen;
}

.hobby-list {
    color: purple;
}