* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.header {
    height: 10%;
    display: flex;
    justify-content: center; /* горизонтальное выравнивание */
    align-items: center; /* вертикальное выравнивание */
    gap: 30px; /* отступ между flex элементами */
}

.header_link {
    text-decoration: none; /* убрать подчеркивание */
    color: #A65E00;
    height: 30px;
    width: 100px;
    background-color: #FFAC40;
    border-radius: 15px; /* скруглить углы */
    display: flex;
    justify-content: center; /* горизонтальное выравнивание текста внутри блока */
    align-items: center; /* вертикальное выравнивание текста внутри блока */
}

.wrapper {
    height: 90%;

    /* создаем гибкий контейнер (элементы внутри встают в строчку) */
    display: flex;
}

.main {
    height: 100%;
    width: 75%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap; /* перенос flex элементов */
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-y: scroll; /* вертикальный скролл для блока */
}

/* убрать отображение скроллбара */
.main::-webkit-scrollbar {
    display: none;
}
/*  */
.aside {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.aside_img,
.main_img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.aside_img {
    background-color: #FFC273;
}

.main_img {
    background-color: #FF9000;
}