* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.block {
    width: 100%;
    height: 200%;
    background-color: chocolate;
}

/* Position */
.fixed {
    height: 100px;
    width: 100px;
    background-color: brown;
    position: fixed;  /* фиксированная позиция (не сдвинется с места) */
    top: 50px; /* смещение от верхнего края */
    left: 100px; /* смещение от левого края */
    /* 
    right: 0; - смещение от правого края
    bottom: 0; - смещение от нижнего края
    */
    z-index: 100; /* видимость на сайте 
    (тем больше значение, тем больше элемент выходит на передний план) */
}
/*  */
.sticky { /* глянуть подробнее */
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    position: sticky;
    left: 10px;
}

.relative {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    position: relative;
    top: 50px;
    left: 200px;
}

.absolute {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 300px;
    left: 100px;
}

.testBlock {
    height: 300px;
    width: 300px;
    background-color: bisque;
    position: relative;
}

.testAbsolute {
    height: 50px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 500px;
}