h5 {
    color: blue;
}

/* Принцип написания стилей */
/*
селектор {
    правило: значение;
}
*/

/* Селекторы CSS */
/* Селектор - способ обращения к html элементу для добавления стилей */
/* 1. Селектор тега */
h2 {
    color: blue;
    letter-spacing: 10px;
    background-color: aqua;
}

/* 2. Селектор класса */
.button {
    height: 80px;
    width: 100px;
    border-radius: 15px;
    background-color: crimson;
}

/* 3. Селектор id */
#section {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border: 2px solid #000;
}

/* Группировка селекторов */
.block-1,
.block-2,
.block-3 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: pink;
}
