/* Базовые правила стилей */
/* каскадный принцип - поздние правила перезаписывают ранние */
body {
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

p {
    color: green;
}

/* куча всяких стилей на 100500 строк кода */

p {
    color: #ff8400;
}

/* Свойства цветов */
/* color: цвет; */
/*
    1. фиксированный цвет (red / green / pink ...)
    2. RGB каналы (color: rgb(red, green, blue)), каждый канал от 0 до 255
    3. RGB с альфа каналом (прозрачность) (rgba(red, green, blue, alpha)), альфа от 0 до 1
    4. HEX код (#0fe3cb), (#rrggbb), 0-9, a-f
    5. Сокращенный HEX (#fec -> #ffeecc) #1d0 -> #11dd00
*/

/* Свойства фона */
/* background: цвет; */
/*
    1. background-color: цвет; - цвет заднего фона элемента
    2. background-image: url('путь до файла') - задний фон в виде картинки
    3. background-repeat: повторения; - повторения картинки, если она меньше области
    4. background-size: размер; - размер картинки (рястянуть на весь блок или поместить по размерам картинки)
    5. background-position: позиция; - позиция картинки в блоке
    6. background: linear-gradient(); - градиентный цвет заднего фона (лучше использовать генератор)
*/

/* Свойства шрифтов */
/*
    1. font-family: Arial, sans-serif; - шрифт, через запятую запасные варианты
    2. font-size: 20px; - размер шрифта
    3. font-weight: bold; - жирность шрифта
    4. font-style: italic; - стиль шрифта (нужен чтоб установить курсив)
    5. text-align: center; - выравнивание текста (right / center / left / justify)
    6. text-decoration: underline; - украшение текста (подчеркнуть / зачеркнуть и тд)
    7. line-height: 1.5; - межстрочный интервал
    8. letter-spacing: 3px; - расстояние между буквами
*/

/* Единицы измерения */
/*
    1. Абсолютные
        px - пиксели

    2. Относительные
        % - относительно родительского элемента
        em - относительно текущего элемента (для текста)
        rem - относительно корневого элемента (html), (для текста)
        vh - (viewport height) относительно высоты окна браузера (100vh - на всю высоту экрана)
        vw - (viewport width) относительно ширины окна браузера (100vw - на всю ширину экрана)
*/

