.header-1 {
    color: green;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
}

.light {
    background-color: #fff;
    color: #000;
}

.dark {
    background-color: #000;
    color: #fff;
}